#landing {
  margin: 10px;
  width: 100px;
  /* background-color: orange; */
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
}
#demo {
  margin: 10px;
  width: 220px;
  /* background-color: orange; */
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.jumbotron {
  margin-top: 50px;
    background-image: url(https://github.com/RebelCommand78/shipt/blob/master/public/Jumboimage.jpeg?raw=true);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: blue;
  text-shadow: orange 0.3em 0.3em 0.1em;
  text-align: center;
  height: 400px;
}

h1{
    font-size: 250px;
    font-weight: bolder;
    font-style: italic;
    
}
h2{
    text-align: center;
    color: blue;
    text-shadow: orange 0.1em 0.1em 0.1em;
}

.butts{
  text-align: center;
}