.Req {
  font-style: italic;
}

.From {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  /* max-width: 700px; */
  border-bottom: black solid;
  padding-bottom: 10px;
  
}

.To {
  /* display: none; */
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  /* max-width: 700px; */
  border-bottom: black solid;
  padding-bottom: 10px;
  
}

.Dimensions {
  /* display: none; */
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  /* max-width: 700px; */
  
}

#Where {
  text-align: center;
  color: blue;
}
